
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                <h2>Biz Kimiz ?</h2><br />
                &nbsp;&nbsp; Nakliyecibul, 2019 yılında İstanbul merkezli kurulmuş olan evden eve nakliyat hizmeti veren bir firmadır. Yılların vermiş olduğu deneyimin yanı sıra gerçekleştirmiş olduğumuz işlerin verdiği güven ve tecrübeyle evden eve nakliyat ve taşımacılık hizmetlerini sunmaya aracı firma olarak siz değerli müşterilerimize hizmet sunmaktayız.
            </p>
            <p>
                &nbsp;&nbsp; Nakliyecibul olarak kuruluş başarı hikayesi ile nakliyat sektöründe lider aracı firma olmayı hedeflemekle beraber, kalite anlayışı, geniş nakliyeci filosu ve hizmet çeşitliliği ile sektöre katma değer sağlamaya ve yeni açılımlar yaratmayı hedeflemekteyiz. Müşteri odaklı yaklaşımı ile sektörün ihtiyaç ve beklentilerini, hizmetlerine en iyi şekilde yansıtan Nakliyecibul olarak sürekli gelişime devam edeceğiz.
            </p>
            <ul>
                <li>
                    <b>Fiyat Garantisi:</b> Nakliyecibul aracılığıyla almış olduğunuz fiyat bilgisi, belirtmiş olduğunuz bilgiler dahilinde sabitlenir.
                </li>
                <li>
                    <b>Hasar Güvencesi: </b>Eşyalarınız evinizden alınırken kontrol edilir, sonradan oluşabilecek hasarlar nakliye ekibine karşılatılarak eşyalarınız güvence altına alınır.
                </li>
                <li>
                    <b>Taşıma Profesyonelliği:</b>Nakliye ekiplerimizle yüz yüze görüşerek gerekli evrakları kontrol edilip, profesyonel taşıma hizmeti sağlanır.
                </li>
            </ul>
            <br /><br />
        </div>
        <div class="col-lg-12">
            <div class="choose-content-wrap">
                <!-- Choose Area Tab content -->
                <div class="tab-content" id="myTabContent">
                    <!-- Popular Cars Tab Start -->
                    <div class="tab-pane fade show active" id="popular_cars" role="tabpanel" aria-labelledby="home-tab">
                        <!-- Popular Cars Content Wrapper Start -->
                        <div class="popular-cars-wrap">
                            <!-- PopularCars Tab Content Start -->
                            <div class="row popular-car-gird">
                                <!-- Single Popular Car Start -->
                                <div class="col-lg-3 col-md-6 suv con mpv">
                                    <div class="single-popular-car">
                                        <div class="p-car-thumbnails">
                                            <a class="car-hover" href="assets/img/car/car-3.jpg">
                                                <img src="~/assets/img/Profile/busrabasaran.jpg" />
                                            </a>
                                        </div>

                                        <div class="p-car-content">
                                            <h3>
                                                <a href="#">Büşra Başaran</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Popular Car End -->
                                <!-- Single Popular Car Start -->
                                <div class="col-lg-3 col-md-6 con hat">
                                    <div class="single-popular-car">
                                        <div class="p-car-thumbnails">
                                            <a class="car-hover" href="assets/img/car/car-4.jpg">
                                                <img src="~/assets/img/Profile/Fadileavci.jpg" />
                                            </a>
                                            <div class="p-car-content">
                                                <h3>
                                                    <a href="#">Fadile Avcı</a>
                                                </h3>
                                            </div>
                                        </div>

                                      
                                    </div>
                                </div>
                                <!-- Single Popular Car End -->
                                <!-- Single Popular Car Start -->
                                <div class="col-lg-3 col-md-6 con sedan mpv">
                                    <div class="single-popular-car">
                                        <div class="p-car-thumbnails">
                                            <a class="car-hover" href="assets/img/car/car-5.jpg">
                                                <img src="~/assets/img/Profile/Facetune_12-05-2019-14-27-11.jpg" />
                                            </a>
                                            <div class="p-car-content">
                                                <h3>
                                                    <a href="#">Gülbahar İnan</a>
                                                </h3>
                                            </div>
                                        </div>

                                       
                                    </div>
                                </div>
                                <!-- Single Popular Car End -->
                                <!-- Single Popular Car Start -->
                                <div class="col-lg-3 col-md-6 hat suv mpv">
                                    <div class="single-popular-car">
                                        <div class="p-car-thumbnails">
                                            <a class="car-hover" href="assets/img/car/car-6.jpg">
                                                <img src="~/assets/img/Profile/Kubracan.jpg" />
                                            </a>
                                        </div>

                                        <div class="p-car-content">
                                            <h3>
                                                <a href="#">Kübra Can</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Popular Car End -->
                            </div>
                            <!-- PopularCars Tab Content End -->
                        </div>
                        <!-- Popular Cars Content Wrapper End -->
                    </div>
                    <!-- Popular Cars Tab End -->
                </div>
                <!-- Choose Area Tab content -->
            </div>
        </div>
    </div>
</div>




