
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hakkımızda</h2>
<p>
    &nbsp;&nbsp; &nbsp;&nbsp;  Nakliyecibul, 2019 yılında İstanbul merkezli kurulmuş olan evden eve nakliyat hizmeti veren bir firmadır. Yılların vermiş olduğu deneyimin yanı sıra gerçekleştirmiş olduğumuz işlerin verdiği güven ve tecrübeyle evden eve nakliyat ve taşımacılık hizmetlerini sunmaya aracı firma olarak siz değerli müşterilerimize hizmet sunmaktayız.
</p>
<p>
    &nbsp;&nbsp; &nbsp;&nbsp;  Nakliyecibul olarak kuruluş başarı hikayesi ile nakliyat sektöründe lider aracı firma olmayı hedeflemekle beraber, kalite anlayışı, geniş nakliyeci filosu ve hizmet çeşitliliği ile sektöre katma değer sağlamaya ve yeni açılımlar yaratmayı hedeflemekteyiz. Müşteri odaklı yaklaşımı ile sektörün ihtiyaç ve beklentilerini, hizmetlerine en iyi şekilde yansıtan Naklyecibul olarak sürekli gelişime devam edeceğiz.
</p>
<p><b>Fiyat Garantisi:</b> Nakliyecibul aracılığıyla almış olduğunuz fiyat bilgisi, belirtmiş olduğunuz bilgiler dahilinde sabitlenir.</p>

<p><b>Hasar Güvencesi: </b>Eşyalarınız evinizden alınırken kontrol edilir, sonradan oluşabilecek hasarlar nakliye ekibine karşılatılarak eşyalarınız güvence altına alınır.</p>

<p>
    <b>Taşıma Profesyonelliği:</b>Nakliye ekiplerimizle yüz yüze görüşerek gerekli evrakları kontrol edilip, profesyonel taşıma hizmeti sağlanır.
</p> 
<div class="col-md-12">
    <img src="~/Content/images/Nakliye2.png" />
</div>
<br />


