
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hakkımızda</h2>
<p>
    Eşyalarınızın evinizden usta personelimizce sökülmesi, birinci sınıf sargılanmasına kadar hep temiz işçilik sunan Şehirlerarası nakliyat işleminde aklınıza acaba sorusunu getirecek bir örnek vererek açıklama yapmak daha doğru olacaktır.
</p>
<p>
    Eşyalarınızı hiç tanımadığınız birine teslim etmek istemezsiniz. vinizdeki tüm kırılacak, kitap, vazo, çerçeve gibi eşyalarınızı tek tek uygun paketleme ve ambalajlama işlemini uygun fiyatlara sunan Nakliyecimotercih ederek İstanbul içi Nakliyat konusunda kafanızdaki bütün sorunlara çözüm üretebilirsiniz.
</p>
<p>
    <ul>
        <li>
            Transfer hizmeti: Nakliyecimo olarak taşımacılık hizmetimizi size sunuyoruz.
        </li>
        <li>
            Özel paketleme:Evden eve Nakliyat yaparken hassas eşyalarınızı doğru paketliyoruz.
        </li>
        <li>
            Hızlı nakliyat:Şehirlerarası nakliyat için Nakliyecimo kalitesinde hızlı servis işlemi.
        </li>
        <li>Eşyalarınız kaybolmaz:Petek Nakliyat eşyaların listesini yaparak size tam güven sağlar.</li>
    </ul>
    </p>
<div class="col-md-8">
    <h2></h2>
    <img src="~/Content/images/Nakliye2.png" />
</div>
<br />


