
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iletisim</h2>

<p>
    Bizimle iletişim kurarak evden eve nakliyat için iki mesafe arası ücreti veya sıkça sorulan sorular hakkında detaylı bilgi alabilirsiniz. Aşağıdaki formu doldurarak veya 0532 xxx xx xx numaralı telefondan müşteri temsilcisi ile iletişim kurabilirsiniz. İletişim Formundan Sıkça Sorulan Sorular bölümünü okuyarak kafanızdaki soru işaretlerine hızlıca cevap bulabilirsiniz.

</p>
<p>
    Nakliyecimo olarak sektörde tanınmış Nakliyat Firmaları arasında olmaktan gurur duyuyoruz. Acun Medya, Aras Kargo firmalar referanslarımız arasındadır. Kurumsal ve Bireysel Hizmetimiz bulunmaktadır. Herkesin kendine ait bir yaşayış tarzı vardır ve Evden Eve Nakliyat hizmetimizle sizin yaşayış tarzınıza en uygun yöntemi tercih ediyoruz.

</p>
<iframe src="https://www.google.com/maps/d/embed?mid=1X-FNQ6HMfFERvVpKVTXtKtQJA6jIT5aA" width="640" height="480" frameborder="0" style="border:0" allowfullscreen=""></iframe>
<br /><br /><br /><br />

