
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-10">

    <h1>Nakliyecimo</h1>
    <h3>Taşınmanın En Güvenli,Hızlı ve Hesaplı Adresi Nakliyecimo...</h3>
    <p>&nbsp; Nakliyeciler ve Ev Sahipleri buluştururan Türkiyenin en Etkili Platformlarından biridir. Nakliyecimo olarak 2019 yılında hizmet vermeye başladık. Türkiye de evden eve taşınma ihtiyaçlarınızda siz de şimdi bizimle temas kurun ve mutlu müşterilerimiz arasına katılın.</p>
</div>
<div class="container">
    <div class="col-md-5">
        <h4>Hızlı ve Hesapli</h4>
        <img src="~/Content/images/indir (1).jpg" />
    </div>
    <div class="col-md-5">
        <h4>Dikkatli Taşıma</h4>
        <img src="~/Content/images/diyarbakir-evden-eve-nakliyat-esya-paketleme.jpg" />
    </div>

</div>
<br />

