
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-10">
    <section class=" section">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <!-- Section title -->
                    <div class="section-title">
                        <h2>Bütün Nakliyeciler</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                    </div>
                    <div class="row">
                        <!-- Category list -->
                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fa fa-car icon-bg-1"></i>
                                    <h4>A Nakliyat</h4>
                                </div>
                                <img src="~/Content/images/Nakliye2.png" width="150"/>
                            </div>
                        </div> <!-- /Category List -->
                        <!-- Category list -->
                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fa fa-apple icon-bg-2"></i>
                                    <h4>B Nakliyat</h4>
                                </div>
                                <img src="~/Content/images/indir (1).jpg" width="150"/>
                            </div>
                        </div> <!-- /Category List -->
                        <!-- Category list -->
                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fa fa-home icon-bg-3"></i>
                                    <h4>C Nakliyat</h4>
                                </div>
                                <img src="~/Content/images/Nakliye3.png" width="150"/>
                            </div>
                        </div> <!-- /Category List -->
                        <!-- Category list -->
                        


                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
</div>
<br />

